* {
    margin: 0;
}

body {
    font-family: "Geneva";
}

#header {
    background-color: dimgray;
    height: 2rem;
    border-bottom: 2rem solid LightSalmon;
}

h1 {
    font-size: 1.5rem;
    color: white;
}

#title {
    height: 27rem;
    background-color: lightgray;
    text-align: center;
}

#about {
    display: flex;
}

#about img {
    height: 15rem;
}

h3 {
    color: LightSalmon;
    width: 10rem;
    margin: 0 auto;
    text-align: center;
    padding-top: 1.5rem;
}

#fav {
    display: flex;
    justify-content: space-evenly;
}